.global-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.header-quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.global-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .header-quote {
    max-width: 350px;
  }
}
