.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  min-height: calc(100vh - 320px);
  margin: 0 auto;
}

.gallery-item {
  margin-bottom: 20px;
}

.gallery-item img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: none;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
}

.gallery-item img:hover {
  box-shadow: -1px 2px 5px 0px #888888;
}
