.pagination {
  display: flex;
  justify-content: center;
  margin-left: -50px;
}

.pagination li {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.pagination li:hover:not(.active) {
  border: 1px solid gray;
}

.pagination li.active {
  background-color: lightgray;
}
