/* Globals */
body {
  margin: 0;
}

:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  margin-bottom: 0;
}

a {
  color: var(--color-link);
}

/* Global Header */
.global-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

/* Header Quote */
.header-quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

/* Global Footer */
.global-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
  display: flex;
  flex-direction: column;
}
